body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.header-style{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
    margin-top: 40px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, #ff8a00, #e52e71);
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
}
.experience-item{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    background-color: #f2f2f2;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.fullstack-border-color{
    border-left: 5px solid #ff0000;
}
.baby-border-color{
    border-left: 5px solid blue;
}